<div class="container">
  <%= erb :nav_bar %>
</div>

<div class="bottom"><br><br>
   <%= erb :'/song/edit_delete_song', :locals => {song: @song} %><br><br>
  <div class="song"><br><br>
    <img src="<%= @song.album_art %>"/> ----
    Title: <a href="<%= @song.song_url %>"><%= @song.title %></a> ---
    Added By: <%= @song.user.username %>
  </div>

</div>