<div class="container">
  <div class="box">
    Welcome: <%= current_user.username %><br><br>
    <a href='/playlists/all' id="all_playlists_link">All Playlists</a> | <a href='/my_playlists' id="all_playlists_link">My Playlists</a>
  </div>
</div>

<div class="bottom">
  <div class="song"><br><br>
    <img src="<%= @song.album_art %>"/> ----
    Title: <a href="<%= @song.song_url %>"><%= @song.title %></a> ---
    Added By: <%= @song.user.username %>
  </div>

</div>