<div class="container">
  <%= erb :_nav_bar %>
</div>

<div class="bottom_background"></div>
<div class="bottom">
<%= erb :'playlist/_create_playlist' %>
  <div class="all_playlists"><br><br>
  <% @playlists.each do |playlist| %>
    <div class="playlist"><a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a>
      <% playlist.songs.each do |song| %>
        <p class="song"><a href="/songs/<%= song.id %>"><%= song.title %></a></p>
      <% end %></div>
  <% end %><br><br>
  </div>
</div>