<div class="container">
 <%= erb :nav_bar %>
</div>

<div class="bottom">
  <h1><%= @playlist.name %></h1>
  <%= erb :'song/create_song', :locals => {playlist: @playlist} %>
  <%= erb :'/playlist/edit_delete_playlist', :locals => {playlist: @playlist} %><br><br>


  <div class="all_songs"><br><br>
  <% @songs.each do |song| %>
    <a href="/songs/<%= song.id %>"><img src="<%= song.album_art %>"/></a> ---
  <% end %>
  </div>

</div>